.body-bg {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(124, 122, 122, 0.5114496482186625) 47%,
    rgba(0, 0, 0, 1) 100%
  );
}

.footer-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.6234944661458333) 0%,
    rgba(124, 122, 122, 0.5114496482186625) 47%,
    rgba(0, 0, 0, 1) 100%
  );
}

.horizontal {
  color: white;
}

.card {
  width: 30rem;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.30976897594975494) 0%,
    rgba(124, 122, 122, 0.2845588919161415) 47%,
    rgba(0, 0, 0, 0.2145308807116597) 100%
  );
}

.contenedor {
  height: 100%;
}

.tarea {
  width: 60rem;
  height: 30rem;
  border: 1px solid rgb(178, 172, 172);
  background: rgba(190, 190, 190, 0.285) 47%;
}
